{%extends "base.html" %}


{% block style %}
 #sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 13rem;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }
{%endblock%}

{%block pagename%} Notifications {% endblock %}

{%block content %}

{%for rec in recommendations%}
<div class="alert alert-secondary ">
              <a type="button" class="close" data-dismiss="alert" href="{{ url_for('drop_song', id = rec.id) }}" aria-hidden="true">×</a>
              <h4>{{ rec.Song_name }}</h4>
              <p>Singer: {{ rec.Singer_name}} <br>
                Submitterd by : {{rec.rec_name}}
                <br>
                Song id: {{rec.id}}
                <p>
                <a class="btn btn-success" href="{{ url_for('to_chart', id = rec.id) }}" role="button">Add to chart</a>
                  <a class="btn btn-danger" href="{{ url_for('drop_song', id = rec.id) }}" role="button">Drop Song</a>
              </p>
            </div>
{%endfor%}

{%endblock%}