<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>| WELCOME |</title>
  <link rel="stylesheet" href="../static/css/bootstrap.css">
  <link rel="stylesheet" href="../static/css/footer.css">
</head>
<body class="d-flex flex-column h-100">

<!-- Begin page content -->
<main role="main" class="flex-shrink-0">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">WOAH MUSIC!</h1>
      <p>This is an attempt to create a classical model to create a music recommendation chart. This attempt with also focus on sorting music based solely on the will of the creator.
Appearing globally, you can add music based of all genres for people to see and get good personalised playlist for themselves.
</p>
      <a class="btn btn-primary btn float-right" href="{{ url_for('login') }}" role="button">Admins Here &raquo;</a>
    </div>
  </div>

  <div class="container">
  <h2>Hello there!</h2>
  <form method="POST" action="{{ url_for('getData') }}">
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" id="email" placeholder="Enter song's title" name="songname">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Enter singer's name" name="singer">
      </div>
    <div class="col">
        <input type="text" class="form-control" placeholder="Enter your name" name="uname">
      </div>
    </div>
    <div class="form-group form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" name="remember" required> I agree I'm not drunk.
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Check this checkbox to continue.</div>
      </label>
    </div>
    <button type="submit" class="btn btn-primary">Recommend</button>
  </form>
</div>


  <div class="container">
  <h2>Woah, we give you music.</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Song</th>
        <th>Singer</th>
        <th>Submitted By</th>
      </tr>
    </thead>
    <tbody>
      {% for item in flist %}
      <tr>
        <td>{{item.Song}}</td>
        <td>{{item.singer}}</td>
        <td>{{item.givenby}}</td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>

</main>

<footer class="footer mt-auto py-3">
  <div class="container">
    <span class="text-muted">Copyright (c) 2020 Abhishek Shree</span>
  </div>
</footer>
<script src="../static/js/bootstrap.min.js"></script>
</body>
</html>