{% extends 'base.html' %}
{%block style%}

 #sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 13rem;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }
{% endblock %}
{%block pagename%} View Chart {% endblock %}
{%block content %}
<br><br>
  <h4>Your top charts are here.</h4>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Song</th>
        <th>Singer</th>
        <th>Submitted By</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {%for f in final%}
      <tr>
        <td>{{ f.id}}</td>
        <td>{{f.Song}}</td>
        <td>{{f.singer }}</td>
        <td>{{ f.givenby }}</td>
        <td>
          <a class="btn btn-danger" href="{{ url_for('delete', id = f.id) }}" role="button">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{%endblock %}